* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-time: 'Roboto', sans-serif;

  /* --bg-general: hsl(0, 11%, 4%); */
  --cl-primary: hsla(240, 6%, 21%, 1);
  --bg-button: hsla(240, 9%, 89%, 1);
  --cl-selected: hsla(194, 97%, 31%, 1);
  --cl-light: hsla(0, 0%, 100%, 1);
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-time);
  background-color: var(--cl-light);
}

.app {
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.light {
  --cl-primary: hsla(0, 0%, 100%, 1);
  --cl-light: hsl(0, 11%, 4%);
}

.toggleMode {
  position: absolute;
  top: 3.2rem;
  left: 3.2rem;
  font-size: 3.2rem;
  background-color: transparent;
  border: none;
  color: var(--cl-primary);
}

.light .ph-moon,
html:not(.light) .ph-sun {
  display: none;
}

button {
  color: var(--cl-primary);
}

main {
  width: 82.1rem;
  display: flex;
  align-items: center;
  gap: 19rem;
  color: var(--cl-primary);
}

.time {
  display: flex;
}

.time span {
  font-size: 12rem;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 1.7rem;
}

.buttons .ph{
  font-size: 5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.running .ph-play-circle,
html:not(.running) .ph-pause-circle {
  display: none;
}

.sounds {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}

.sounds .ph {
  width: 13.9rem;
  height: 15.6rem;
  font-size: 5rem;
  background-color: var(--bg-button);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: none;
  box-shadow: 2px 2px 4px #3c3c3c41;
  cursor: pointer;
  /* Fazer um efeito de botão 3d, já fiz em outro projeto, além de adicionar animações e outra cores e modos */
}

.ph.selected {
  background-color: var(--cl-selected);
  color: var(--cl-light);
}